#outer {
    display: table;
    width: 100vw;
    height: 100vh;
}
#datetime {
    display: table-cell;
    vertical-align: middle;
}
#time {
    font-size: 10rem;
    text-align: center;
}
#date {
    font-size: 4rem;
    text-align: center;
}